@mixin listContainerStyles {
    position: absolute;
    padding: 0;
}

@mixin listItemStyles {
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 100;
    transition: all .2s ease-in-out;

    .catalogue-list {
        @include listContainerStyles();

        top: 12px;
        left: 75px;
        font-family: var(--sans-font);
        font-size: 14px;
        font-weight: 500;

        .catalogue-item {
            @include listItemStyles();
        }
    }

    .nav-title {
        font-family: var(--sans-font);
        text-transform: uppercase;
        text-align: center;
    }
    
    .nav-items {
        @include listContainerStyles();

        top: 10px;
        right: 75px;
        font-weight: 500;

        .nav-item {
            @include listItemStyles();

            position: relative;

            svg {
                width: 18px;
            }

            .item-count {
                position: absolute;
                top: -5px;
                left: 20px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #ff2b4f;
            }
        }
    }
}

// used during scroll event listener
.removeNav {
    transform: translateY(-100px);
}