.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 90px 0 0 0;

    .homepage-header {
        text-align: center;
        
        h1 {
            font-family: var(--sans-font);
            color: var(--dark-color);
            font-size: 48px;
            text-transform: uppercase;
            padding: 20px;
            margin: 0;
        }
    
        h2 {
            font-family: var(--serif-font);
            font-size: 24px;
            font-weight: 500;
            letter-spacing: -1px;
            margin: 0;
        }
    }
    
    .homepage-content {
        padding: 3% 7.14% 0 7.14%;
    }

    @media only screen and (min-width: 767px) {
        padding: 0 7.14%;

        .homepage-content {
            display: flex;
            justify-content: space-between;
        }
    }
}