@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Playfair+Display&display=swap');

:root {
    --background-color: #FEFFF3;
    --dark-color: #000000;
    --highlight-color: #476A88;
    --sans-font: 'Montserrat', sans-serif;
    --serif-font: 'Playfair Display', serif;
}

body {
    background-color: var(--background-color);
    background-color: #fefff3;
}

::selection {
    background-color: var(--dark-color);
    color: var(--background-color);
  }