@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Playfair+Display&display=swap');

:root {
    --background-color: #FEFFF3;
    --dark-color: #000000;
    --highlight-color: #476A88;
    --sans-font: 'Montserrat', sans-serif;
    --serif-font: 'Playfair Display', serif;
}

body {
    background-color: var(--background-color);
    background-color: #fefff3;
}

::selection {
    background-color: var(--dark-color);
    color: var(--background-color);
}

// Toast styles
.Toastify__toast {
    border-radius: 0;
    box-shadow:
    0 2.1px 1.8px rgba(0, 0, 0, 0.016),
    0 5.2px 4.4px rgba(0, 0, 0, 0.022),
    0 10.6px 9px rgba(0, 0, 0, 0.028),
    0 21.9px 18.6px rgba(0, 0, 0, 0.034),
    0 60px 51px rgba(0, 0, 0, 0.05)
  ;
}

.Toastify__progress-bar--default {
    background: rgba(0, 0, 0, .2);
}