.bag-page {
    margin: 0 auto;
    width: 90%;
    padding: 100px 0 0 0;

    .bag-page-title {
        text-align: center;
        font-family: var(--serif-font);
        font-weight: 400;
        font-size: 48px;
        text-transform: uppercase;
    }

    .bag-cta {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        padding: 50px 0;

        .complete-total {
            margin: 0;
            padding: 20px;
            text-align: center;
            font-family: var(--sans-font);
            text-transform: uppercase;
            font-weight: 500;
        }
    }

    @media only screen and (min-width: 768px) {
        width: 75%;

        .bag-cta {
            flex-direction: row;
            justify-content: initial;

            .complete-total {
                width: 90%;
                text-align: right;
            }
        }
    }
    @media only screen and (min-width: 1280px) {
        width: 50%;
    }
}