.checkout-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 5px;
    text-align: center;

    .checkout-success-title {
        font-size: 48px;
        font-family: var(--serif-font);
        margin: 0 0 10px 0;
    }

    .checkout-success-details {
        font-family: var(--sans-font);
        font-size: 24px;
        font-weight: 400;
        opacity: .9;
        margin: 0 0 50px 0;
    }

    .order-number-title {
        font-family: var(--sans-font);
        font-size: 28px;
        font-weight: 500;
        text-transform: uppercase;

        span {
            font-weight: 700;
        }
    }
}