@mixin width {
    width: 90%;

    @media screen and (min-width: 1024px) {
        width: 75%
    }

    @media screen and (min-width: 1280px) {
        width: 60%
    }

    @media screen and (min-width: 1920px) {
        width: 50%
    }
}

.product-page {
    .product-title, .brand-title {
        font-family: var(--serif-font);
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }

    .product-title {
        font-size: 56px;
        margin: 0 0 50px 0;
    }

    .brand-title {
        margin: 0;
        padding: 100px 0 0 0;
        font-size: 32px;
    }

    @media screen and (min-width: 768px) {
        .product-title {
            font-size: 72px;
        }
    
        .brand-title {
            font-size: 46px;
        }
    }

    .bio-container {
        @include width;

        margin: 100px auto;

        .bio-title {
            font-family: var(--serif-font);
        }

        .bio {
            font-family: var(--sans-font);
            font-weight: 500;
            line-height: 30px;
        }
    }
}