.product-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--sans-font);
    text-align: center;
    cursor: pointer;
    transition: all .1s ease-in;

    &:hover {
        background-color: black;
        color: var(--background-color);
        -webkit-box-shadow: 0px 3px 49px 5px rgba(0,0,0,0.2); 
        box-shadow: 0px 3px 49px 5px rgba(0,0,0,0.2);
    }

    .product-image {
        max-width: 165px;
    }

    .product-details {
        .product-name {
            font-weight: 700;
        }

        .product-price {
            font-weight: 500;
            opacity: .75;
        }
    }
}